body {
  background-color: lightblue;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
}

header, footer {
  color: #ffffff;
}

header {
  letter-spacing: 2px;
}

.container {
  bottom: 50%;
  display: none;
  position: absolute;
  right: 50%;
  transform: translate(50%, 50%);
}

.jumbotron {
  background-color: #ffffff;
  margin: 50px 0;
}

.btn {
  background-color: lightblue;
  color: #ffffff;
}

a:link, a:visited, a:hover, a:active {
  color: #ffffff;
  text-decoration: none;
}
